<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>author-Detail</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/authorDetail.js"></script>
</head>
<body>
<div align="center">
    <div id="authorDetail-name"style="font-size: 300%;"></div>
    <div style="font-size: 200%;display: inline;">from </div> <u id="authorDetail-org" style="font-size: 150%;display: inline;"></u>
    <hr>
</div>
<div>
    <div style="width: 50%;float:left;height: auto;">
        <div style="font-size: 220%;">RelatedAuthors :</div><br>
        <div style="font-size: 150%;margin-left: 50px;color: #2994af;" id="RelatedAuthors" ></div>
        <div style="font-size: 220%;">RelatedOrgs :</div><br>
        <div style="font-size: 150%;margin-left: 50px;color: #2994af;" id="RelatedOrgs" ></div>
    </div>
    <div style="width: 50%;float:left;height: auto;">
        <div style="font-size: 220%;display: inline;">CitationSum:   </div><div  style="font-size: 200%;
        display: inline;" id="authorCitationSum" ></div>
        <br>
        <div style="font-size: 220%;">Top Research Fields :</div><br>
        <div style="font-size: 150%;margin-left: 50px;color: #2994af;" id="Top5keyword" ></div>
        <div style="font-size: 220%;" >Top Paper :</div><br>
        <div style="font-size: 150%;margin-left: 50px; color: #2994af;" id="Top5paper" ></div>
    </div>
</div>
<hr style="margin-top: 600px">

<div align="center">
    <div id="authorDetail-num" style="font-size: 200%">Total Papers:</div>
    <button id="author-detail-paper">All Papers</button>
    <button id="author-detail-paper-close">Close</button>
</div>



    <table id="author-detail-table" class="table" align="center" border="1px" style="border: #152067;display: none">
        <thead>
        <tr align="center" style="width: 100% border-box" >
            <th width="25%" >Document_title</th>
            <th width="15%">Authors</th>
            <th width="4%">Year</th>
            <th >Publication_title</th>
            <th >Author_keywords</th>
        </tr>
        </thead>
        <tbody id="authorDetail-list" style="border: #8ae292">
    </table>



</body>
</html>