<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fieldDetail</title>
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/fieldDetail.js"></script>
</head>
<body>
<div align="center">
    <h1 id="field-name"></h1>
    <span>PaperNum: </span><span id="field-paperNum"></span>
    <span>&nbsp;&nbsp;</span>
    <span>CitationSum: </span><span id="field-CitationSum"></span>
    <br>
</div>
</body>
</html>