<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Field</title>
</head>
<body>
<div class="headers" style="position: fixed;width: 100%">
    <div style=" background-color: #b10d12;font-size: 22px;float:left;width: 16.6%;height: 40px;text-align: center">
        <a href="/view/home" >总览</a>
    </div>
    <div style=" background-color: #b1671f; font-size: 22px;  float:left;width: 16.6%;height: 40px;text-align: center">
        <a href="/view/author" >作者</a>
    </div>
    <div style=" background-color: #abb123;font-size: 22px;float:left;width: 16.6%;height: 40px;text-align: center">
        <a href="/view/org" >机构</a>
    </div>
    <div style=" background-color: #6e76b1;font-size: 22px;float:left;width: 16.6%;height: 40px;text-align: center">
        <a href="/view/field" >方向</a>
    </div>
    <div style=" background-color: #339db1;font-size: 22px;float:left;width: 16.6%;height: 40px;text-align: center">
        <a href="/view/meeting" >会议</a>
    </div>
    <div style=" background-color: #5db12f;font-size: 22px;float:left;width:17%;height: 40px;text-align: center">
        <a href="/view/manage" >数据源</a>
    </div>
</div>
<br>
<hr style="margin-top: 30px">
<h1 align="center">学术图谱系统-----研究方向</h1>
<hr>

</body>
</html>