<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/index.js"></script>
    <style>

        input::-webkit-input-placeholder {
            /* placeholder颜色  */
            color: rgba(255, 5, 14, 0.54);
            /* placeholder字体大小  */
            font-size: 16px;
        }
    </style>

</head>
<body>
<div align="center">
    <h1>学术图谱系统</h1>
    <div align="left">
    <div style=" background-color: #b10d12;
         width: 15%;
         height: 40px;
         text-align: center">
        <a href="index.html" >总览</a>
    </div>
        <div style=" background-color: #b1671f;
         width: 15%;
         height: 40px;
         text-align: center">
            <a href="index.html" >总览</a>
        </div>
        <div style=" background-color: #abb123;
         width: 15%;
         height: 40px;
         text-align: center">
            <a href="index.html" >总览</a>
        </div>
        <div style=" background-color: #5db12f;
         width: 15%;
         height: 40px;
         text-align: center">
            <a href="index.html" >总览</a>
        </div>
    </div>
<br>
    <div >新增数据库文件(csv格式)
    <input type="file" id="newFile"  width="30%">
    <button class="myBtn" id="uploadFile">
        更新数据库
    </button>
    </div>
<br><br>

<table class="table" align="center" border="1px" style="border: #152067">
    <thead>
    <tr align="center" style="width: 100% border-box" >

        <th width="12%" >
            <input id="s_author" type="txt"  placeholder="Authors" style="width: 99%; " >
        </th>
        <th width="20%">
            <input id="s_department" type="txt"  placeholder="Author_Affiliations" style="width: 99%; " >
        </th>
        <th width="24%">
            <input id="s_meeting" type="txt"  placeholder="Publication_Title" style="width: 99%; " >
        </th>
        <th width="24%">
            <input id="s_pointWord" type="txt"  placeholder="Author_Keywords" style="width: 99%; " >
        </th>
        <th align="left">
            <button id="search" type='button' style="  background-color: #cbff64;border: 2px solid #2994af;color: #2616ff;
               padding: 0px 10px;text-align: center;border-radius: 6px;text-decoration: none;display: inline-block;
                font-size:15px">搜索</button>
        </th>

    </tr>
    </thead>

            <tbody id="paper-list" style="border: green">


</table>
    <div class="box-mask"></div>
    <div class="box-modal">论文详情<span class="close">X</span>
        <h1> title</h1>
        <p>content</p>
    </div>



</div>
</body>
</html>