<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manage</title>
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/manage.js"></script>
    <style>
        input::-webkit-input-placeholder {
            /* placeholder颜色  */
            color: rgba(255, 5, 14, 0.54);
            /* placeholder字体大小  */
            font-size: 16px;
        }
    </style>
</head>
<body>
<div align="center">
    <div class="headers" style="position: fixed;width: 100%">
        <div style=" background-color: #b10d12;font-size: 22px;float:left;width: 16.6%;height: 40px;text-align: center">
            <a href="/view/home" >总览</a>
        </div>
        <div style=" background-color: #b1671f; font-size: 22px;  float:left;width: 16.6%;height: 40px;text-align: center">
            <a href="/view/author" >作者</a>
        </div>
        <div style=" background-color: #abb123;font-size: 22px;float:left;width: 16.6%;height: 40px;text-align: center">
            <a href="/view/org" >机构</a>
        </div>
        <div style=" background-color: #6e76b1;font-size: 22px;float:left;width: 16.6%;height: 40px;text-align: center">
            <a href="/view/field" >研究方向</a>
        </div>
        <div style=" background-color: #339db1;font-size: 22px;float:left;width: 16.6%;height: 40px;text-align: center">
            <a href="/view/meeting" >会议</a>
        </div>
        <div style=" background-color: #5db12f;font-size: 22px;float:left;width:17%;height: 40px;text-align: center">
            <a href="/view/manage" >数据源</a>
        </div>
        <br>
        <hr style="margin-top: 30px">
        <h1>学术图谱系统------数据库</h1>
        <hr>
    <table class="table" align="center" border="1px" style="border: #1c196e" >
        <thead>
            已有数据文件
        </thead>
        <div  style="overflow-y:scroll">
            <tbody id="file-list" style="border: #8ae292">
        </div>
    </table>

    <br><hr>
    <div >新增数据库文件(csv格式)
        <input type="file" id="newFile"  width="30%">
        <button class="myBtn" id="uploadFile">
            上传文件
        </button>
    </div>
    <br><hr>
    <button id="updateDB" type='button' style='background-color: #4CAF50;
            border: 2px solid #4CAF50;
            color: white;
            padding: 7px 15px;
            text-align: center;
            border-radius: 6px;
            text-decoration: none;
            display: inline-block;
            font-size:13px;'>更新数据库</button>
</div>
</body>
</html>