<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>organization</title>
</head>
<body>
<div align="center">
    <div >
        <div style=" background-color: #b10d12;font-size: 22px;float:left;width: 15%;height: 40px;text-align: center">
            <a href="/paper/home" >总览</a>
        </div>
        <div style=" background-color: #b1671f; font-size: 22px;  float:left;width: 15%;height: 40px;text-align: center">
            <a href="/paper/author" >作者</a>
        </div>
        <div style=" background-color: #abb123;font-size: 22px;float:left;width: 15%;height: 40px;text-align: center">
            <a href="#" >机构</a>
        </div>
        <div style=" background-color: #5db12f;font-size: 22px;float:left;width: 15%;height: 40px;text-align: center">
            <a href="/paper/manage" >数据源</a>
        </div>
        <div style=" background-color: #21b1b0;font-size: 22px;float:left;width: 40%;height: 40px;text-align: center">
            <a href="" >nmsl</a>
        </div>
    </div>
    <br>
    <hr>
    <h1>学术图谱系统</h1>
    <hr>
</div>
</body>
</html>