<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>paperDetail</title>
    <link rel="stylesheet" type="text/css" href="/static/css/uniform.css"/>
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/paperDetail.js"></script>
</head>
<body>
<div align="center">
    <table class="table" align="center" border="1px" style="border: #152067">
        <thead>
        <tr align="center" style="width: 100% border-box" >
        </tr>
        </thead>
        <tbody id="paper-detail" style="border: #8ae292">

    </table>

</div>
</body>
</html>